*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: "Microsoft Yahei", Arial, sans-serif;
}

h1, h2, h3, h4, h5{
	line-height: 1;
	font-weight: normal;
}

main{
	height: 300%;
	position: relative;
}

section{
	height: 33%;
	position: relative;
	box-shadow: 0 3px 5px #ccc;
}

/* page about-me */

.about-me{
	/* tips */
	background: url(images/back-end.jpg) no-repeat center;
	background-size: cover;
}

.about-me dl{
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	padding: 50px 0;
}

.about-me .avatar{
	width: 100px;
	height: 100px;
	vertical-align: bottom;
	border-radius: 50%;
}

.about-me h1{
	margin: 10px 0 0;
}

.about-me small{
	font-family: cursive;
}

.about-me p{
	margin-top: 5px;
}

/* page skills */
.skills{
	text-align: center;
	font-size: 16px;
}

.skills h1{
	margin: 60px 0 5px 0;
	font-size: 40px;
}

.skills ol{
	width: 1100px;
	margin: 40px auto 0;
	overflow: hidden;
}

.skills ol li{
	list-style: none;
	float: left;
	width: 33%;
	text-align: center;
	padding: 0 35px;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
	height: 100%;
	padding-bottom: 500px;
	margin-bottom: -500px;
}

.skills ol li:nth-of-type(3){
	border-right: none;
}

.skills img{
	width: 125px;
	height: 125px;
}

.skills h2{
	margin: 30px 0;
}

.skills p{
	text-align: left;
	margin: 15px 0;
	line-height: 1.8;
	word-break: break-all;
}

/* page contact */
.contact dl{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	overflow: hidden;
}

.contact dt{
	width: 40%;
	float: left;
	font-size: 50px;
	line-height: 120px;
}

.contact dd{
	float: left;
	width: 60%;
}

.contact dd li{
	overflow: hidden;
	height: 120px;
	line-height: 120px;
	list-style: none;
}

.contact img{
	float: left;
	vertical-align: bottom;
}

.contact li:nth-of-type(1) img{
	width: 75px;
	height: 75px;
	margin: 22px 33px 22px 12px;
}

.contact li:nth-of-type(2) img{
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
/* nav menu */
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	height: 40px;
	color: #fff;
	text-align: center;
}

nav ul{
	list-style: none;
	overflow: hidden;
	height: 30px;
	margin: 5px auto;
	text-align: center;
}

nav ul li{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	/*background-color: rgba(255, 255, 255, 0.9);*/
	margin: 0 3px;
	border-radius: 3px;
	cursor: pointer;
}

nav ul li.active, 
nav ul li:hover{
	background-color: #fff;
	color: #333;
}



